@{
    ViewData["Title"] = "About";
}


<section class="who-we-are">
    <div class="company-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 border">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="company-detail">
                                <h3 class="section-title">Who we are</h3>
                                <span class="underline left"></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec mauris a neque tincidunt iaculis. Sed tristique luctus sapien. Vestibulum arcu magna, ullamcorper quis porta ac, venenatis non ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras commodo sollicitudin felis vel porttitor. Quisque vitae egestas sapien. Ut et neque posuere, interdum purus nec, lobortis eros. Fusce blandit, libero consectetur hendrerit tristique, erat sapien convallis nibh, quis eleifend arcu nisi vitae urna.</p>
                                <p>Praesent ultrices urna in arcu facilisis tempus. Sed facilisis, nisl et tincidunt pharetra, nisi mauris malesuada quam, non imperdiet odio lacus quis elit. Vestibulum arcu magna, ullamcorper quis porta ac, venenatis non ante. Fusce sed justo at orci fermentum varius. Nulla vestibulum luctus ex porta pharetra. Vivamus at varius risus. Etiam eget ligula pharetra, varius mi id, ullamcorper nibh.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="company-image"></div>
    </div>
</section>

<section class="company-info-box">
    <div class="company-info">
        <div class="container">
            <div class="row">
                <div class="col-md-10 aligncenter">
                    <div class="col-md-6 border-dark-left">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="company-detail bg-dark margin-left">
                                    <h3 class="section-title">Study Rooms</h3>
                                    <span class="underline left"></span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec mauris a neque tincidunt iaculis. Sed tristique luctus sapien. Vestibulum arcu magna, ullamcorper quis porta ac, venenatis non ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras commodo sollicitudin felis vel porttitor. Quisque vitae egestas sapien.</p>
                                    <a href="#." class="btn btn-primary">Get a card</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 border-dark">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="company-detail bg-light margin-right">
                                    <h3 class="section-title">Books and more</h3>
                                    <span class="underline left"></span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec mauris a neque tincidunt iaculis. Sed tristique luctus sapien. Vestibulum arcu magna, ullamcorper quis porta ac, venenatis non ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras commodo sollicitudin felis vel porttitor. Quisque vitae egestas sapien.</p>
                                    <a href="contact.html" class="btn btn-dark-gray">Make a request</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
