@{
    ViewData["Title"] = "Home Page";
}

<!--<section id="home" class="slider"--> @*data-stellar-background-ratio="0.5"*@ <!--style="margin-top: 0;">-->
<div data-ride="carousel" class="carousel slide no-padding" id="home-v1-header-carousel">
    <!-- Carousel slides -->
    <div class="carousel-inner">
        <div class="item active">
            <figure>
                <img alt="Home Slide" src="images/header-slider/home-v1/header-slide.jpg" />
            </figure>

            <div class="container-fluid">
                <div class="carousel-caption">

                    <div class="carousel-item" style="background-image: url(~/images/company-serives-bg-left.jpg);">
                        <div class="carousel-caption text-center">
                            <div class="col-md-offset-1 col-md-10">
                                <h3>Online learning, anytime anywhere!</h3>
                                <h1>Discover your roots</h1>
                                <a href="#Books">Lend a book</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <figure>
                <img alt="Home Slide" src="images/header-slider/home-v1/header-slide.jpg" />
            </figure>

            <div class="container-fluid">
                <div class="carousel-caption">

                    <div class="carousel-item" style="background-image: url(~/images/company-serives-bg-left.jpg);">
                        <div class="carousel-caption text-center">
                            <div class="col-md-offset-1 col-md-10">
                                <h3>Online learning, anytime anywhere!</h3>
                                <h1>Discover your roots</h1>
                                <a href="#Books">Lend a book</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#home-v1-header-carousel" data-slide="prev"></a>
    <a class="right carousel-control" href="#home-v1-header-carousel" data-slide="next"></a>
</div>




@*</section>*@

@*<section class="welcome-section">*@
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @*<div class="welcome-wrap">
                <div class="welcome-text">*@
            <div class="col-12 narrow text-center">
                <h1>Welcome to the librarium</h1>
                <div></div>
                <p class="lead">The standard chunk of Lorem Ipsum used since</p>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humor, or randomized words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humor, or non-characteristic words etc.</p>

                <a class="btn btn-secondary btn-md" href="https://w3newbie.com/courses" target="_blank">Read More</a>
            </div>

            @*<div class="col-md-4">
                    <div class="facts-counter">
                        <ul>
                            <li class="bg-light-green">
                                <div class="fact-item">
                                    <div class="fact-icon">
                                        <i class="ebook"></i>
                                    </div>
                                    <span>eBooks<strong class="fact-counter">45780</strong></span>
                                </div>
                            </li>
                            <li class="bg-green">
                                <div class="fact-item">
                                    <div class="fact-icon">
                                        <i class="eaudio"></i>
                                    </div>
                                    <span>eAudio<strong class="fact-counter">32450</strong></span>
                                </div>
                            </li>
                            <li class="bg-red">
                                <div class="fact-item">
                                    <div class="fact-icon">
                                        <i class="magazine"></i>
                                    </div>
                                    <span>Magazine<strong class="fact-counter">14450</strong></span>
                                </div>
                            </li>
                            <li class="bg-blue">
                                <div class="fact-item">
                                    <div class="fact-icon">
                                        <i class="videos"></i>
                                    </div>
                                    <span>Videos<strong class="fact-counter">32450</strong></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>*@
            @*</div>
                </div>*@
        </div>
    </div>
</div>
<div class="welcome-image"></div>
@*</section>*@


<section class="category-filter section-padding">
    @*<div id="resources" class="offset">
        <div class="fixed-background">
            <div class="row dark text-light text-center">*@

    <div class="container">
        <div class="center-content">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1 class="section-title">Check Out The New Releases</h1>
                    @*<div class="underline center"></div>*@
                    <p class="lead">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                </div>
            </div>
        </div>
        <div class="filter-buttons row">
            <div class="filter btn" data-filter="all">All Releases</div>
            <div class="filter btn" data-filter=".adults">Adults</div>
            <div class="filter btn" data-filter=".kids-teens">Kids &amp; Teens</div>
            <div class="filter btn" data-filter=".video">Video</div>
            <div class="filter btn" data-filter=".audio">Audio</div>
            <div class="filter btn" data-filter=".books">Books</div>
            <div class="filter btn" data-filter=".magazines">Magazines</div>
        </div>
    </div>
    <div class="row no-padding">
        <div class="col-sm-4">
            <div class="portfolio">
                <a href="~/images/category-filter/home-v1/category-filter-img-01.jpg" target="_blank">
                    <img src="~/images/category-filter/home-v1/category-filter-img-01.jpg" />
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="portfolio">
                <a href="~/images/category-filter/home-v1/category-filter-img-02.jpg" target="_blank">
                    <img src="~/images/category-filter/home-v1/category-filter-img-02.jpg" />
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="portfolio">
                <a href="~/images/category-filter/home-v1/category-filter-img-03.jpg" target="_blank">
                    <img src="~/images/category-filter/home-v1/category-filter-img-03.jpg" />
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="portfolio">
                <a href="~/images/category-filter/home-v1/category-filter-img-04.jpg" target="_blank">

                    <img src="~/images/category-filter/home-v1/category-filter-img-04.jpg" />
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="portfolio">
                <a href="~/images/category-filter/home-v1/category-filter-img-05.jpg" target="_blank">

                    <img src="~/images/category-filter/home-v1/category-filter-img-05.jpg" />
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="portfolio">
                <a href="~/images/category-filter/home-v1/category-filter-img-06.jpg" target="_blank">

                    <img src="~/images/category-filter/home-v1/category-filter-img-06.jpg" />
                </a>
            </div>
        </div>

        <div class="center-content">
            <a href="#" class="btn btn-primary">View More</a>
        </div>
    </div>
    @*</div>*@
    <div class="fixed-wrap">
        <div class="fixed">

        </div>

    </div>
    @*</div>
        </div>*@


</section>

<section class="social-network section-padding">
    <div class="container">
        <div class="center-content">
            <h2 class="section-title">Follow Us</h2>
            <span class="underline center"></span>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <ul>
            <li>
                <a class="facebook" href="#" target="_blank">
                    <span>
                        <i class="fa fa-facebook-f"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="twitter" href="#" target="_blank">
                    <span>
                        <i class="fa fa-twitter"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="google" href="#" target="_blank">
                    <span>
                        <i class="fa fa-google-plus"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="rss" href="#" target="_blank">
                    <span>
                        <i class="fa fa-rss"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="linkedin" href="#" target="_blank">
                    <span>
                        <i class="fa fa-linkedin"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="youtube" href="#" target="_blank">
                    <span>
                        <i class="fa fa-youtube"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- jQuery Latest Version 1.x -->
<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>

<!-- jQuery UI -->
<script type="text/javascript" src="js/jquery-ui.min.js"></script>

<!-- jQuery Easing -->
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>

<!-- Bootstrap -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- Mobile Menu -->
<script type="text/javascript" src="js/mmenu.min.js"></script>

<!-- Harvey - State manager for media queries -->
<script type="text/javascript" src="js/harvey.min.js"></script>

<!-- Waypoints - Load Elements on View -->
<script type="text/javascript" src="js/waypoints.min.js"></script>

<!-- Facts Counter -->
<script type="text/javascript" src="js/facts.counter.min.js"></script>

<!-- MixItUp - Category Filter -->
<script type="text/javascript" src="js/mixitup.min.js"></script>

<!-- Owl Carousel -->
<script type="text/javascript" src="js/owl.carousel.min.js"></script>

<!-- Accordion -->
<script type="text/javascript" src="js/accordion.min.js"></script>

<!-- Responsive Tabs -->
<script type="text/javascript" src="js/responsive.tabs.min.js"></script>

<!-- Responsive Table -->
<script type="text/javascript" src="js/responsive.table.min.js"></script>

<!-- Masonry -->
<script type="text/javascript" src="js/masonry.min.js"></script>

<!-- Carousel Swipe -->
<script type="text/javascript" src="js/carousel.swipe.min.js"></script>

<!-- bxSlider -->
<script type="text/javascript" src="js/bxslider.min.js"></script>

<!-- Custom Scripts -->
<script type="text/javascript" src="js/main.js"></script>
