@page
@model LibraryGUI.Areas.Identity.Pages.Account.SuccessRegistrationModel
@{
    ViewData["Title"] = "Success";

}

<h1>Successful Registration</h1>
<p>
    Please check your email for the verification link.
</p>